.img-frame {
    max-width: 100%;
    max-height: 100%;
    margin-top: 10%

}
.square {
    height: 175px;
    width: 175px;
    text-align: center;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
.card-view{
background: #FFF;
margin-bottom: 20px;
border: 1px solid #e2e2e2;
border-radius: 0;
box-shadow: none;
padding: 15px 15px 0;
margin-left: -5px;
margin-right: -5px;
}
.cointainer-fluid{
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.page-wrapper{
  margin-left: 225px;
  padding: 70px 20px;
  position: relative;
  background: #e9e9e9;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  left: 0;

}
.img-mark{
position: absolute;
z-index: 1;
height: 100px;
width: 280px;
animation-duration: 5s;
animation-delay: 2s;
animation-iteration-count: infinite;
}

.modal-overflow{
    overflow-y:scroll;
}

.pp{
    width : 80%;
    height: 20px;
      background: black;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100px;
}



.progress-bar {
    height:20px;
    background: #003959 -webkit-linear-gradient(left,#003959,#0a547d);;
    width:0%;
    text-align:center;
    border-radius: 100px;
    border: 2px solid gray;
    }

    .card {
      margin: 20px auto;
      display: block;
      background: #f0f0f0;
      border-radius: 4px;
      position: relative;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 2px 0px rgba(64, 139, 200, 0.5);
      overflow: hidden;
      max-width: 800px;
    }
    .card .card-stuff {
      width: 80%;
      padding: 20px 40px;
      padding-right: 75px;
      transition: .3s ease-in-out;
    }
    .card .card-stuff time {
      float: right;
      position: relative;
      top: -25px;
      font-size: 12px;
    }
    .card .card-stuff.active {
      width: 60%;
    }
    .card .com-contain {
      overflow: hidden;
      position: absolute;
      padding-top: 40px;
      right: 0;
      top: 0;
      width: 50px;
      height: 100%;
      background: #408BC8;
      box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.2);
      transition: 0.3s all cubic-bezier(0.75, 0.03, 0.41, 1.4);
    }
    .card .com-contain:hover {
      transition: 0.3s all cubic-bezier(0.75, 0.03, 0.41, 1.4);
      background: #357eb9;
      box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.2), inset -3px 0px #3276ad;
    }
    .card .com-contain.active {
      width: 30%;
      max-width: 300px;
    }
    .card .com-contain.active:hover {
      background: #408bc8;
      box-shadow: inset 2px 0px 3px rgba(0, 0, 0, 0.2), inset -3px 0px #3276ad;
    }
    .card .com-contain.active .com-stuff {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      transition-delay: .3s;
    }
    .card .com-contain.active .com-desc {
      -webkit-transform: translateX(300px) rotate(90deg);
              transform: translateX(300px) rotate(90deg);
      transition-delay: 0s;
    }
    .card .com-contain.active .com-expand {
      background: transparent;
      -webkit-perspective: 1000;
              perspective: 1000;
    }
    .card .com-contain.active .com-expand:before {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top: 0;
      left: 0;
      width: 25px;
      background: #bfddf2;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .card .com-contain.active .com-expand:after {
      -webkit-transform: rotate(-495deg);
              transform: rotate(-495deg);
      -webkit-transform-origin: 50% 10%;
              transform-origin: 50% 10%;
      top: 0;
      left: 0;
      width: 25px;
      background: #bfddf2;
    }

    .com-expand-holder {
      display: block;
      position: absolute;
      top: 0;
      right: 5px;
      height: 100%;
      width: 40px;
      cursor: pointer;
      margin-top: 10px;
      padding-top: 10px;
      z-index: 99;
    }
    .com-expand-holder:hover .com-expand, .com-expand-holder:hover .com-expand:before, .com-expand-holder:hover .com-expand:after {
      transition: .3s all ease-out;
      background: #24567e;
    }

    .com-expand {
      width: 25px;
      height: 4px;
      display: block;
      background: white;
      margin: 0 auto;
      border-radius: 10px;
      transition: .3s all ease-in-out;
    }
    .com-expand:before, .com-expand:after {
      content: '';
      background: white;
      width: 15px;
      height: 4px;
      position: relative;
      display: block;
      border-radius: 10px;
      transition: .3s all ease-in-out;
    }
    .com-expand:before {
      top: -3px;
      -webkit-transform: rotate(-30deg);
              transform: rotate(-30deg);
    }
    .com-expand:after {
      top: 0px;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
    }

    .com-stuff {
      color: #fff;
      font-size: 14px;
      padding: 20px;
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
      transition: 0.3s all cubic-bezier(0.36, 0.49, 0.26, 1.27);
    }
    .com-stuff p {
      margin-top: 0px;
    }

    .com-desc {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      position: absolute;
      top: 90px;
      left: 0;
      font-weight: 600;
      font-size: 16px;
      color: #fff;
      -webkit-transform-origin: 23% 50%;
              transform-origin: 23% 50%;
      width: 100px;
      transition: 0.3s all cubic-bezier(0.36, 0.49, 0.26, 1.27);
      transition-delay: .3s;
    }
    .header-score{
      margin-right:12%!important;
    }
    .place-me{
      margin-bottom: 1%;
    margin-left: 72%;
    }
    #map {
      top: 0;
      margin-left: 1%;
      width: 100%;
      height: 500px
    }

    #marker {
      background-image: url('{{asset("img/mark-carte.png")}}');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
    }

    .img-pointer {
      cursor: pointer;
    }

    .mapboxgl-popup {
      max-width: 300px;
    }
    .accordion--home {
  margin: 0;
  padding: 0;
  width: 100%;
}
.accordion--home::after {
  clear: both;
  content: "";
  display: table;
}
.accordion--home img {
  display: block;
  max-width: 100%;
}
.accordion--home li.slide {
  position: relative;
  width: calc(100%/4);
  display: block;
  overflow: hidden;
  float: left;
  transition: all 0.5s;
  height: 40vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accordion--home li.slide:after {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  left: 0;
  top: 0;
  transition: opacity 0.5s;
  z-index: 10;
  position: absolute;
}
.accordion--home:hover li.slide {
  width: calc(50%/3);
}
.accordion--home:hover li.slide:after {
  opacity: 1;
  display: block;
}
.accordion--home li.slide img {
  display: block;
}
.accordion--home li.slide:hover {
  width: 50%;
}
.accordion--home li.slide:hover:after {
  opacity: 0;
  display: none;
}
.accordion--home .image--content {
  position: absolute;
  top: 60%;
  left: 0;
  text-align: center;
  width: 100%;
  display: block;
}
.accordion--home .image--content h4 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.accordion--home .image--content h4:before, .accordion--home .image--content h4:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.accordion--home .image--content h4:before {
  margin-bottom: 15px;
}
.accordion--home .image--content h4:after {
  margin-top: 10px;
}
.accordion--home .image--content ul {
  margin: 0;
  padding: 0;
}
.accordion--home .image--content ul li {
  display: inline-block;
  clear: right;
}

*{
font: normal normal 400 normal 15px / 22.5px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    outline: rgb(46, 68, 83) none 0px;
}
h1{
    font-family: 'Telefon Black', Sans-Serif;
    font-size: 3rem;
  margin-bottom:-5px;
}
.warning{
	 border-left: 3px solid #E24C4B;
}
.success{
	 border-left: 3px solid #25AE88;
}
.info{
	 border-left: 3px solid #25B7D3;
}
.update{
	 border-left: 3px solid #0D9B79;
}
.main{
	margin:10px auto;
}
#DIV_1 {
    bottom: 0px;
   box-shadow: 0 0 0 1px rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
    box-sizing: border-box;
    color: rgb(46, 68, 83);
    cursor: pointer;
    display: flex;
    height: 56px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(46, 68, 83);
    top: 0px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(46, 68, 83);
    border-right: 0px none rgb(46, 68, 83);
    border-bottom: 0px none rgb(46, 68, 83);
    margin: 0px 0px 0px;
    padding: 12px 16px;
}

#DIV_1:after {
    clear: both;
    color: rgb(46, 68, 83);
    content: '"."';
    cursor: pointer;
    display: block;
    height: 0px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    visibility: hidden;
    border: 0px none rgb(46, 68, 83);
    overflow: hidden;
}
#DIV_1:before {
    color: rgb(46, 68, 83);
    cursor: pointer;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#DIV_2 {
    color: rgb(46, 68, 83);
    cursor: pointer;
    display: flex;
    height: 32px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    width: 32px;
    align-items: center;
    border: 0px none rgb(46, 68, 83);
    margin: 0px 16px 0px 0px;
}
#DIV_2:after {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#DIV_2:before {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#IMG_3 {
    color: rgb(46, 68, 83);
    cursor: pointer;
    display: block;
    height: 32px;
    max-width: 100%;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    width: 32px;
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(46, 68, 83);
}
#IMG_3:after {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#IMG_3:before {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#DIV_4 {
    color: rgb(46, 68, 83);
    cursor: pointer;
    display: flex;
    height: 32px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    align-items: center;
    border: 0px none rgb(46, 68, 83);
    flex: 1 1 auto;
}
#DIV_4:after {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
#DIV_4:before {
    color: rgb(46, 68, 83);
    cursor: pointer;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(46, 68, 83);
    border: 0px none rgb(46, 68, 83);
}
